body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(214, 214, 214);
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.title {
    font-size: 30px;
    margin-left: 30px;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 20px 65px 20px;
    border-radius: 5px;
    background-color: dimgray;
    box-shadow: 5px 5px rgba(29, 53, 116, 0.05);
}

.topsection {
    display: flex;
    margin-bottom: 20px;
    margin-left: 12px;
}

.display{
    box-shadow: 2px 2px rgb(61, 61, 61);
}

.display, 
.displaypast,
.displaycurrent{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 218px;
}

.displaypast,
.displaycurrent{
    height: 40px;
    justify-content: flex-end;
    align-items: flex-end;
}

.displaypast{
    font-size: 20px;
    justify-content: center;
    background-color: rgb(89, 145, 145);
}

.displaycurrent{
    font-size: 30px;
    justify-content: center;
    background-color: rgb(89, 145, 145);
}

.buttoncon {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: none;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 10px;
    background-color: rgb(81, 81, 81);
    box-shadow: 2px 2px rgb(61, 61, 61);
}

.btn:hover {
    cursor: pointer;
    border: 1px solid rgb(108, 108, 108);
}

.btn:active {
    border: 1px solid rgb(61, 61, 61);
    box-shadow: -2px -2px rgb(61, 61, 61);
}

.botsection {
    display: flex;
    flex-wrap: wrap;
}